*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

@font-face {
    font-family: OpenSans;
    src: url(Font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSansBold;
    src: url(Font/OpenSans-Bold.ttf);
}

@font-face {
    font-family: PopinsBold;
    src: url(Font/Poppins-Bold.ttf);
}

@font-face {
    font-family: Popins;
    src: url(Font/Poppins-Regular.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(Font/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(Font/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(Font/RobotoMono-SemiBold.ttf);
}


/* HEADER */
#header{
    position: fixed;
    margin: 0;
    width: 100%;
}

#main{
    padding-top: 120px;
}

.container1{
    background-color: #106EEA;
}

.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contato{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    padding-left: 200px;
    padding-right: 900px;
}

.texto{
    color: white;
    font:16px 'OpenSans', sans-serif;
}

.nomeLogo{
    font: 700 45px 'PopinsBold', sans-serif;
    margin-left: 200px;
}

.menu{
    margin-right: 180px;
}

.item{
    font: 400 22px 'OpenSans', sans-serif;
    margin-left: 45px;
    color: black;
}
/* FIM DO HEADER */

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    flex-wrap: wrap;
}

.nomeLogo2{
    font: 700 60px 'PopinsBold', sans-serif;
}

.bannerTexto{
    font: 400 40px 'Popins', sans-serif;
}

.escrita{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: -330px;
    margin-left: 600px;
}

.primeiraImg{
    margin-bottom: 400px;
}

.titulos{
    font: 700 20px 'RobotoBold', sans-serif;
    display: flex;
}

.tituloSobre{
    padding-left: 8px;
    color: #106EEA;
}

.lorem{
    text-align: justify;
    font: 400 20px 'OpenSans', sans-serif;
    padding-top: 12px;
    width: 630px;
}

.conteudo{
    display: flex;
}

.junto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 45px;
    padding-left: 40px;
}

.sobreNos img{
    margin-left: 90px;
    width: 400px;
    margin-top: -90px;
}

.caixas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 110px;
}

.caixas .imagem img{
    width: 60px;
    height: auto;
    padding-bottom: 20px;
}

.caixa{
    border: 1px solid #8CA9CE;
    border-radius: 10px;
    text-align: center;
    padding: 20px 25px;
    width: 250px;
    background-color: #F1F6FE;
    height: 220px;
}

.numero{
    font: 400 33px 'OpenSansBold', sans-serif;
}

.textoCaixa{
    font: 400 20px 'Roboto', sans-serif ;
}

.textoCaixaC{
    font: 400 22px 'RobotoBold', sans-serif ;
}

.caixa .imagem img{
    width: 80px;
}

.servicos,
.equipe{
    margin-top: 150px;
}

.conteudoServicos,
.conteudoEquipe{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.lorem2{
    font: 400 20px 'OpenSans', sans-serif;
    padding-top: 12px;
    padding: 12px 240px 0px;
    text-align: center;
}

.caixasCinza{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}

.caixaCinza{
    border: 1px solid #8CA9CE;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    background-color: #ffffff;
    height: 180px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 25px;
}

.segundo{
    padding: 0 230px;
}

.linha{
    background-color: #1150A3;
    height: 2px;
    margin-top: 120px
}

.textoNegrito{
    font: 700 24px 'PopinsBold', sans-serif;
    width: 170px;
    margin-top: 20px;
}

.textoRegular{
    font: 400 16px 'Roboto', sans-serif;
    width: 190px;
}

.caixasEquipe{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}

.caixaEquipe{
    border: 1px solid black;
    border-radius: 7px;
    text-align: center;
    width: 220px;
    background-color: #ffffff;
    height: 580px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 25px;
    flex-direction: column;
}

.caixaEquipe img{
    width: 218px;
    margin-top: -20px;
    align-items: center;
}

.mulheres img{
    width: 218px;
    margin-top: -22px;
    align-items: center;
    margin-left: 0px;
}

.mulheres1 img{
    width: 218px;
    margin-top: -22px;
    align-items: center;
}

.loremEquipe{
    font: 400 22px 'OpenSans', sans-serif;
    margin-top: 60px;
    padding: 0 125px;
}

.linha2{
    margin-top: 60px;
    background-color: #1150A3;
    height: 3px;
}

.contatoAntes{
    margin-top: 150px;
}

.conteudoAntes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caixasContato{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    margin-left: 115px;
}

.caixaContato{
    border: 1px solid #8CA9CE;
    border-radius: 7px;
    text-align: center;
    width: 280px;
    background-color: #ffffff;
    height: 310px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 25px;
    flex-direction: column;
}

.negritoContato{
    font: 400 20px 'RobotoBold', sans-serif;
}

.regularContato{
    padding-top: 20px;
    font: 400 20px 'Roboto', sans-serif;
}

.contatoDepois{
    display: flex;
}

input{
    background-color: #E5E5E5;
    width: 220px;
    padding: 10px 10px;
    /* height: 40px; */
    border-radius: 9px;
    margin-top: 80px;
    margin-right: 80px;
}

::placeholder{
    font: 300 20px'Roboto', sans-serif;
    color: #C1C1C1;
}

.assunto{
    background-color: #E5E5E5;
    width: 525px;
    height: 40px;
    border-radius: 9px;
    margin-top: 30px;
    margin-right: 80px;
}

.mensagem{
    background-color: #E5E5E5;
    width: 525px;
    height: 120px;
    border-radius: 9px;
    margin-top: 30px;
    margin-right: 80px;
}

button{
    background-color: #106EEA;
    border-radius: 7px;
    width: 200px;
    height: 30px;
    margin-top: 15px;
    margin-left: 155px;
}

.enviar{
    font: 400 18px 'Roboto', sans-serif;
    color: white;
}

#footer{
    margin-top: 100px;
    background-color: #1150A3;
}

.itens{
    font: 500 23px 'OpenSans', sans-serif;
    color: white;
    padding: 6px 0;
}

#footer .menu{
    margin-left: 150px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sociais{
    font: 500 28px 'OpenSans', sans-serif;
    color: white;
}

.fundo{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.redes{
    margin-top: 110px;
    margin-left: 290px;
}

.imagens img{
    width: 40px;
    margin-right: 8px;
}

.imagens{
    margin-top: 18px;
}

html{
    scroll-behavior: smooth;
}

.menu-aparecer{
    display: none;
}